<a href="https://colab.research.google.com/github/Charanpoojary/-Diabetes-Prediction-using-Machine-Learning-SVM/blob/main/Diabetes_Prediction_using_Machine_Learning_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
# IMPORTING LIBRARIES
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [18]:
#data collection

In [19]:
from google.colab import drive  # mounting our drive to google colab
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
# accesing data to google collab
file_path = '/content/drive/MyDrive/Datasets/diabetes.csv'
df=pd.read_csv(file_path)

In [ ]:
df.head()   # returns the top 5 rows of the dataset

In [22]:
# 1 represent patient has diabetes

In [23]:
df.shape      # returns the rows and columnns of the dataset

(768, 9)

In [24]:
df.describe()    # returns the information about numerical columns

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [28]:
df['Outcome'].value_counts()  # checking the count of output( 0=non diabetic, 1=  person has diabetes)

0    500
1    268
Name: Outcome, dtype: int64

In [42]:
df.groupby('Outcome').mean()    # checking the mean for entire column w.r.to 1 and 0   ( we can also check this for single column)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [46]:
# separating data and lables
X=df.drop(columns= 'Outcome',axis=1) 
Y=df['Outcome']

In [ ]:
# checking the shape of the dependant and independant varibale

In [48]:
X.shape  # independant varibale

(768, 8)

In [49]:
Y.shape   # dependant variable

(768,)

In [53]:
# Data preprocessing ( scaling the data into one range using standardisation)

In [54]:
scaler = StandardScaler()    # initiating standardisation

In [55]:
scaler.fit(X)           # fitting the standardisation into independant variable

StandardScaler()

In [58]:
scaled_data = scaler.transform(X)   # transforming our data into one range

In [60]:
print(scaled_data)             # printing the scaled data

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [63]:
X=scaled_data             # giving scaled data value to X variable 
Y=df['Outcome']           # there is no change in the output

In [65]:
# printing the independant and dependant variable
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [72]:
# splitting the data into train and test   ,   stratify=y, means same distribution will be given to train and test based on y output or else 0 will go to train 1 will go to test   
X_train, X_test, Y_train, Y_test=train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)    # train gets 80% of the data, test gets 20 % of the data

In [73]:
print(X.shape,X_train.shape,X_test.shape)    # checking the size of original and split data

(768, 8) (614, 8) (154, 8)

In [74]:
# training

In [77]:
model=svm.SVC(kernel='linear')    # initiating   ,   svm kernel converts low dimenssional data into high dimenssional data
model.fit(X_train,Y_train)        # fitting the data

SVC(kernel='linear')

In [ ]:
# prediction for train data

In [79]:
Y_train_predicted=model.predict(X_train)    # predicting the actual value

In [80]:
print(Y_train_predicted)   # printing the predicted value

[0 0 1 0 1 1 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0
 1 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 1 1 0 1 1 0 0 0 0 0 0 0 1
 0 0 0 0 0 0 0 1 0 1 0 1 0 0 1 1 1 0 1 0 1 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0
 0 1 0 1 1 0 1 0 0 1 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 0 1
 0 0 0 1 0 0 0 1 0 0 1 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0
 0 1 0 0 0 0 0 0 0 1 0 0 0 1 1 0 1 1 0 1 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 1 1
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 1
 0 0 0 1 0 0 0 0 1 0 0 1 0 0 1 1 0 1 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0
 0 1 1 1 0 0 1 1 1 0 1 0 0 0 1 0 1 0 0 0 1 0 0 1 1 0 0 0 0 1 1 0 0 1 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 1
 0 1 0 0 1 1 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 1 0 0 0 0 1 1 0 0 0 0 0 1 0 0
 0 0 0 0 1 0 1 0 0 0 1 0 1 1 0 1 0 1 1 0 0 0 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0
 0 1 0 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 1 0 1 0 1 0 1 0 1 0 1 1 0 0 0 1 0 0
 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 1 1 0 1 1 0 0 0 0 1 1 1 0 0
 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0]

In [ ]:
# evaluating the model

In [85]:
train_accuracy= accuracy_score(Y_train,Y_train_predicted)    # checking the accuracy score for training data

In [86]:
print(train_accuracy)        # printing the accuracy score for trained data

0.7866449511400652

In [ ]:
# prediction for test data

In [88]:
Y_test_predicted=model.predict(X_test)    # predicting the actual value

In [89]:
print(Y_test_predicted)      # printing the predicted value

[0 0 1 1 0 0 0 1 0 1 1 0 0 1 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 0
 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 1 0
 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 0 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 0 1
 0 0 0 0 1 0 1 0 1 0 0 0 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0
 0 0 1 0 0 0]

In [ ]:
# evaluating the model

In [90]:
test_accuracy= accuracy_score(Y_test,Y_test_predicted)    # checking the accuracy score for training data

In [91]:
print(test_accuracy)        # printing the accuracy score for test data

0.7727272727272727

# **checking the model by giving the inputs**

In [129]:
input_data=(6,148,72,35,0,33.6,0.627,50)   # (answer for this input = 1)

In [107]:
# changing the input_data into numpy array

In [130]:
input_data_as_numpy_array=np.asarray(input_data)

In [131]:
# reshape the numpy array as we are predicting for one instance
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)

In [ ]:
# we had trained our model on a scaled data , so the input that we are giving should be a scaled data itself

In [132]:
scaled_input=scaler.transform(input_data_reshaped)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [133]:
prediction=model.predict(scaled_input)   # making the prediction on a given data
print(prediction)

[1]

In [146]:
input_data=(1,85,66,29,0,26.6,0.351,31)   # (answer for this input = 0)

In [135]:
# changing the input_data into numpy array

In [147]:
input_data_as_numpy_array=np.asarray(input_data)

In [148]:
# reshape the numpy array as we are predicting for one instance
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)

In [138]:
# we had trained our model on a scaled data , so the input that we are giving should be a scaled data itself

In [149]:
scaled_input=scaler.transform(input_data_reshaped)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [150]:
prediction=model.predict(scaled_input)   # making the prediction on a given data
print(prediction)

[0]